{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
<title>Stocks Company</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../../../static/css/style.css" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <div class="form-group row">
        <div class="right" >
            <div class="container" style="background-color: cornsilk; padding: 4%; margin-right: 35px; width: max-content; border-radius: 5px 5px 5px 5px;">
                {% if username != "" %}
                    <b style = "color: #be0505">Hi, {{username}}</b>
                    <small style="  background-color: #a9c38a; 
                                border-top-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                border-top-right-radius: 4px;">
                                <a style="color: white; text-decoration: none;" href="/stocks/logout">&emsp;Logout&emsp;</a></small>
                                {% if avatar == "1" %}
                                    <p>
                                        <!-- <img src="http://thuthuatphanmem.vn/uploads/2018/04/10/avatar-den-1_051422423.png" style="width: 15%;" onclick="clickAvatar();" />
                                        <input type="file" name="" id="avatar" style="display: none;"> -->
                                        <a href="/stocks/image_upload" style="border-radius: 5px 5px 5px 5px; text-decoration: none;"><img src="http://thuthuatphanmem.vn/uploads/2018/04/10/avatar-den-1_051422423.png" style="border-radius: 29px 29px 29px 29px;  width: 60px;height:60px;" /></a>
                                    </p>
                                {% else %}
                                    <p>
                                        <a href="/stocks/image_upload" style="text-decoration: none;"><img src="{{ avatar.url }}" style="border-radius: 29px 29px 29px 29px;  width: 60px;height:60px;" /></a>
                                    </p>
                                {% endif %}        
                {% else %}
                    <small style="  background-color: #a9c38a; 
                                border-top-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                border-top-right-radius: 4px;">
                                <a style="text-decoration: none;" href="/stocks/signup" url 'register' %}">&emsp;Sign Up&nbsp; </a>|<a style="text-decoration: none;" href="/stocks/login" url 'login' %}">&nbsp; Login&emsp;</a></small>
                {% endif %}
            </div>
        </div>
    </div>
  <div class="container">
    <!-- Form tìm kiếm -->
    <form action="{% url 'stocks:search' %}" method="POST">
    <!-- Phòng chống csrf -->
    {% csrf_token %}
    <!-- Tìm kiếm theo vốn công ty -->
	  <div class="form-group row">
	    <label class="col-sm-3 col-xs-5 col-form-label">Giá trị công ty (VNĐ):</label>
	    <div class="col-sm-7 col-xs-5">
	      <input type="text" class="form-control" id="company_value" name="company_value" value="{{company_value_view}}" placeholder="Nhập số vốn công ty">
	    </div>
	  </div>
    <!-- Số lượng cty muốn tìm kiếm -->
	  <div class="form-group row">
	    <label class="col-sm-3 col-xs-5 col-form-label">Số record (Công ty):</label>
	    <div class="col-sm-7 col-xs-5">
	      <input type="text" class="form-control" id="count" name="count_company" value="{{count_record_view}}" placeholder="Nhập số record">
	    </div>
	  </div>
    <!-- Tìm kiếm theo ngày cập nhật -->
	    <div class="form-group row">
            <label class="col-sm-3 col-xs-5 col-form-label">Ngày tìm kiếm:</label>
            <div class="col-sm-3 col-xs-5">
                <input id="datepicker" name="date_update" value="{{date_update_view}}" placeholder="dd/mm/yyyy"/>
                <script>
                    $('#datepicker').datepicker({
                        uiLibrary: 'bootstrap',
                        format: 'dd/mm/yyyy'
                    });
                </script>
            </div>
        </div>
    <!-- Button tìm  kiếm -->
	  <div class="form-group row">
	  	<div class="col-sm-3 col-xs-5">
	    </div>
	    <div class="col-sm-1 col-xs-1">
	      <button type="submit" class="btn btn-primary" style = "background: #5c9616;  font-size: 100%;">Tìm kiếm</button>
	    </div>
	  </div>
    <!-- Vùng thông báo lỗi -->
      <div class="messages"  >
        {{ message }}
        {{ message2 }}
        {{ message3 }}
      </div>
	</form>
</div>
{% if username != "" %}
    <div>
        <small style="  background-color: #a9c38a; 
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;">
        <a style="color: white; text-decoration: none;" href="/stocks/upload-csv">&emsp;Upload Csv&emsp;</a></small> 
    </div>
{% endif %} 
<div>
    <small style="  background-color: #a9c38a; 
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;">
    <a style="color: white; text-decoration: none;" href="/stocks/export_csv">&emsp;Export Csv&emsp;</a></small> 
</div>

</header>
<div id = "table">
<!-- Danh sách công ty -->
  <table class="table table-bordered table-striped">
    <thead>
      <tr style = "background: #5c9616">
        <th scope="col">No</th>
        <th scope="col">Stocks</th>
        <th scope="col">Company Value</th>
        <th scope="col">Current Price</th>
        <th scope="col">ROA(%)</th>
        <th scope="col">P/E</th>
        <th scope="col">Magic Formula</th>
        <th scope="col" colspan="2" style="min-width: 4cm;">Mua/bán</th>
      </tr>
    </thead>
    <tbody>
        {% if company_list_view %}
            {% for company in company_list_view %}
                {% if len_company == 1  %}
                    <tr>
                        <td scope="row">{{company.id}}</td>
                        <td>{{company.stocks}}</td>
                        <td>{{company.company_value}}</td>
                        <td>{{company.current_price}}</td>
                        <td>{{company.r_o_a}}</td>
                        <td>{{company.p_e}}</td>
                        <td>{{company.magic_formula}}</td>
                        {% if username == "" %}
                            <td><small style="  background-color: #939491; 
                                border-top-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                border-top-right-radius: 4px;
                                padding-top: 4%;
                                padding-bottom: 4%;">
                                <a title="Login để thực hiện chức năng" style="color:rgb(0, 0, 0); text-decoration: none;">&emsp;Mua&emsp;</a></small></td> 
                            <td><small style="  background-color: #939491; 
                                border-top-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                border-top-right-radius: 4px;
                                padding-top: 4%;
                                padding-bottom: 4%;">
                                <a title="Login để thực hiện chức năng" style="color:rgb(0, 0, 0); text-decoration: none;">&emsp;Bán&emsp;</a></small></td> 
                        {% else %}
                            <td><small style="  background-color: #4b8505; 
                                border-top-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                border-top-right-radius: 4px;
                                padding-top: 4%;
                                padding-bottom: 4%;">
                            <a style="color: rgb(0, 0, 0); text-decoration: none;" href="/stocks/buy_stocks">&emsp;Mua&emsp;</a></small></td>
                            <td><small style="  background-color: #cfb521; 
                                border-top-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                border-top-right-radius: 4px;
                                padding-top: 4%;
                                padding-bottom: 4%;">
                            <a style="color: rgb(0, 0, 0); text-decoration: none;" href="/stocks/sell_stocks">&emsp;Bán&emsp;</a></small></td>                             
                        {% endif %}  
                    </tr> 
              {% else %}   
                    <tr class="backgreen">
                        <td scope="row">{{company.id}}</td>
                        <td>{{company.stocks}}</td>
                        <td>{{company.company_value}}</td>
                        <td>{{company.current_price}}</td>
                        <td>{{company.r_o_a}}</td>
                        <td>{{company.p_or_e}}</td>
                        <td>{{company.magic_formula}}</td>
                        {% if username == "" %}
                            <td><small style="  background-color: #939491; 
                                border-top-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                border-top-right-radius: 4px;
                                padding-top: 4%;
                                padding-bottom: 4%;">
                                <a title="Login để thực hiện chức năng" style="color:rgb(0, 0, 0); text-decoration: none;">&emsp;Mua&emsp;</a></small></td> 
                            <td><small style="  background-color: #939491; 
                                border-top-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                border-top-right-radius: 4px;
                                padding-top: 4%;
                                padding-bottom: 4%;">
                                <a title="Login để thực hiện chức năng" style="color:rgb(0, 0, 0); text-decoration: none;">&emsp;Bán&emsp;</a></small></td> 
                        {% else %}
                            <td><small style="  background-color: #4b8505; 
                                border-top-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                border-top-right-radius: 4px;
                                padding-top: 4%;
                                padding-bottom: 4%;">
                            <a style="color: rgb(0, 0, 0); text-decoration: none;" href="/stocks/buy_stocks">&emsp;Mua&emsp;</a></small></td>
                            <td><small style="  background-color: #cfb521; 
                                border-top-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-left-radius: 4px;
                                border-top-right-radius: 4px;
                                padding-top: 4%;
                                padding-bottom: 4%;">
                            <a style="color: rgb(0, 0, 0); text-decoration: none;" href="/stocks/sell_stocks">&emsp;Bán&emsp;</a></small></td>                             
                        {% endif %}                 
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
                  <tr>
                      <td colspan="9" align="center" >
                          Không có thông tin công ty cần tìm kiếm.
                      </td>   
                  </tr>                    
      {% endif %}  
    </tbody>
  </table> 
</div>
<script>
    const clickAvatar = () => {
        let img = document.getElementById('avatar')
        img.click()
        console.log(img);
    }
</script>
</body>
</html>
